.allbody {
    height: 844px;
    width: 390px;
    margin: 0 auto;
    background: #2E2F33;
}

.text {
    font-size: 40px;
}

.border {
    border-radius: 0%;
}
.inputStytle{
    margin-top: 55px;
    border-radius: 5px 5px 5px 5px;
    width: 281px;
    height: 67px;
    border-style: none;
}
.font24{
    font-size: 24px;
}
.text40{
    border-radius: 5px 5px 5px 5px;
    color: #51BDA3;
    font-size: 40px;
    border-style: none;
}

.fz32{
    padding-top: 60px;
    color: aliceblue;
    font-size: 32px;
}
.loginbtn{
    width: 150px;
    margin-top: 40px;
    border-radius: 15px 15px 15px 15px;
}